# --- PYTHON & POETRY ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Poetry: ignore local configuration and Python version, but NOT the poetry.lock
.python-version
poetry.toml
.history/

# --- DJANGO ---
*.log
local_settings.py
# It locks the database and its temporary transaction files.
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
media/
staticfiles/
.cache/

# --- VIRTUAL ENVIRONMENTS ---
# It covers all possible variants in WSL/Linux
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
bin/
include/
local/
share/
pyvenv.cfg
pip-selfcheck.json

# --- Environment Variables ---
.env
.secrets
*.env.local

# --- TESTING AND COVERAGE ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- IDEs AND EDITOR ---
.vscode/
.idea/
*.swp
*.swo

# --- SYSTEM ---
.DS_Store
Thumbs.db