# --- PYTHON & POETRY ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Poetry: Ignoramos configuración local y versión de python, pero NO el poetry.lock
.python-version
poetry.toml
.history/

# --- DJANGO ---
*.log
local_settings.py
# Bloquea la base de datos y sus archivos temporales de transacciones
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
media/
staticfiles/
.cache/

# --- ENTORNOS VIRTUALES ---
# Cubre todas las variantes posibles en WSL/Linux
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
bin/
include/
local/
share/
pyvenv.cfg
pip-selfcheck.json

# --- VARIABLES DE ENTORNO (SECRETOS) ---
.env
.secrets
*.env.local
.env.*

# --- TESTING Y COBERTURA ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- IDEs Y EDITORES ---
.vscode/
.idea/
*.swp
*.swo

# --- SISTEMA ---
.DS_Store
Thumbs.db