<nav class="navbar">
    <div class="navbar__logo">
        <a href="{% url 'courses:course_list' %}">Evolaris</a>
    </div>
    <ul class="navbar__links">
        <li><a href="{% url 'courses:course_list' %}">Courses</a></li>
        {% if user.is_authenticated %}
            <li><a href="#">My Progress</a></li>
            <li><a href="{% url 'courses:course_create' %}">Create Course</a></li>
            <li><span>Hi, {{ user.username }}!</span>
        {% else %}
            <li><a href="#">Login</a></li>
        {% endif %}
    </ul>
</nav>