<nav class="navbar">
    <div class="navbar__logo">
        <a href="{% url 'courses:course_list' %}">Evolaris</a>
    </div>
    <ul class="navbar__links">
        <li><a href="{% url 'courses:course_list' %}">Courses</a></li>
        {% if user.is_authenticated %}
            {% if not user.is_teacher %}
                <li><a href="#">My Progress</a></li>
            {% endif %}
            {% if user.is_teacher %}
                <li><a href="{% url 'courses:course_create' %}">Create Course</a></li>
            {% endif %}
            <li class="navbar__user-info">
                <span>Hi, {{ user.username }}!</span>
                <form action="{% url 'users:logout' %}" method="post" class="navbar__logout-form">
                    {% csrf_token %}
                    <button type="submit" class="navbar__logout-btn">Logout</button>
                </form>
        {% else %}
            <li><a href="{% url 'users:login' %}" class="btn btn--outline">Login</a></li>
            <li><a href="{% url 'users:register' %}" class="btn btn--primary">Register</a></li>
        {% endif %}
    </ul>
</nav>